.text {
    font-weight: normal !important;
    margin: 20px 0px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
}

.jumbotron {
    padding: 20px;
    width: 100vw;
}

h1 {
    text-align: center;
    margin: 20px 0px 50px 0px;
}

.banner {
    margin-bottom: 50px;
}
