<div class="jumbotron">
    <img src="assets/banner2.png" class="mx-auto d-block">
    <h3>
        Oi! Seja bem-vindo a nossa lista de presentes
    </h3>
    <p class="text">
        Sua presença já é nosso presente, mas caso queira nos presentear ainda mais, pensamos em tudo com muito carinho para que você se sinta à vontade de escolher o que preferir. Já temos um lar cheio de amor e carinho, por isso fizemos a lista pensando em experiências para a nossa Lua de Mel ser ainda mais especial.
    </p>
</div>
