.item-container {
    display: table-caption;
    flex-direction: column;
    margin: 10px;
    box-shadow: 2px 2px 10px #ccc;
}

.image-container {
    position: relative;
    display: block;
    width: 400px; /* replace with your desired width */
    height: auto;
}

.image-container img {
    max-width: 100%;
}

.description-container {
    display: block;
    flex: 1 1 auto;
    top: 0;
    left: 0;
    width: 100%;
    text-align: justify;
    padding: 15px 15px 0px 15px;
}

p {
    margin-bottom: 0px;
}

.price::before {
    content: "R$ ";
}

.price {
    font-size: 22px;
    color: #333;
    font-weight: bold;
}

::ng-deep .qrcode {
    display: flex;
    justify-content: center;
}

.pix-div {
    box-shadow: none !important;
    height: 30vh;
}

/* Hide the clipboard icon by default */
.clipboard-icon {
    display: none;
    margin-left: 10px;
}

/* Show the clipboard icon when the showIcon property is true */
.clipboard-icon.show-icon {
    display: inline-block;
    animation: fade-out 2s;
}

/* Define the fade-in animation */
@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

.payment-details {
    padding: 0px 15px;
    display: flex;
    justify-content: center;
}

.payment-details span {
    margin: 15px 20px;
}

.pix-copy-btn {
    margin-bottom: 15px;
}
